<div class="container">

<h1>All Artists</h1>



<%= link_to "New Artist", new_artist_path %>


<div class="artists_listing">
  <ul>
    <li> <% @artists.each do |artist| %>
      <%= link_to artist.name, artist_path(artist) %>
      <% end %>
    </li>
  </ul>
</div>

</div>
