  <ul class="nav navbar-nav navbar-center">
    <li><%= link_to "Playlists", playlists_path %></li>
    <li><%= link_to "Artists", artists_path %></li>
    <li><%= link_to "Songs", songs_path %></li>
  </ul>


<div class="welcome">
</div>
