  <ul class="nav navbar-nav navbar-center">
    <li><%= link_to "Playlists", playlists_path, class: "btn btn-default" %></li>
    <li><%= link_to "Artists", artists_path, class: "btn btn-default" %></li>
    <li><%= link_to "Songs", songs_path, class: "btn btn-default" %></li>
  </ul>


<div class="welcome">
</div>
