
<h1>All Songs</h1>

<table class="table table-hover">
    <% @songs.each do |song| %>
      <tr>
      <td><%= link_to song.title, song %></td>
      <% end %>
    </tr>
    <tr><td></td></tr>
  </table>
