@import "bootstrap-sprockets";
@import "bootstrap";

.welcome {
  width: auto;
  height: 600px;
  background-image: url("http://www.abc.net.au/news/image/5960050-3x2-940x627.jpg");
  background-size: cover;
 }

 a:hover {
   color: black;
   text-decoration: none;
 }

 nav {
   background: inherit;
 }

a {
  color: black;
}
